SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=pythonproject
DB_USER=postgres
DB_PASSWORD=твой_пароль_от_postgres
DB_HOST=127.0.0.1
DB_PORT=5432

STRIPE_API_KEY=sk_test_your_stripe_secret_key
STRIPE_SUCCESS_URL=http://localhost:8000/swagger/?payment=success
STRIPE_CANCEL_URL=http://localhost:8000/swagger/?payment=cancel
