.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
media/
static/
staticfiles/
.idea/
.env
*.log
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
coverage.txt
celerybeat-schedule
celerybeat-schedule.*
*.egg-info/
dist/
build/
.DS_Store
